mixin type_options
    option(value="") -
    each t in ['normal',"fighting","flying","poison","ground","rock","bug","ghost","steel","fire","water","grass","electric","psychic","ice","dragon","dark","fairy","unknown","shadow"]
        option(value=t) #{t}

mixin stat_input(name)
    label(for=name.toLowerCase()).col-sm-1.col-form-label #{name}
    .col-sm-5 
        input(type="number" min="1" max="255" value="1" id=name.toLowerCase()).form-control

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Move Search
        include ./partials/bootstrap-style
    body 
        include ./partials/header
        script(src="/js/move-search.js" defer) 
        .container 
            .position-relative.overflow-hidden.p-1.p-md-2.m-md-3.text-center
                h1.display-4.fw-normal Search for Moves
            .ml-1.mb-3.row
                p.text-muted Basic information
            .ml-1.mb-3.row
                label(for="name").col-sm-1.col-form-label Name 
                .col-sm-5 
                    input#name(type="text").form-control
                label(for="type").col-sm-1.col-form-label Type
                .col-sm-5 
                    select#type.form-control
                        +type_options
            .ml-1.mb-3.row.pt-4
                p.text-muted Specify lower bounds for each stat
            .ml-1.mb-3.row.py-1.align-items-center
                +stat_input("Power")
                +stat_input("Accuracy")
            .ml-1.mb-3.row.py-1.align-items-center
                +stat_input("PP")
                +stat_input("Damage-Type")
            .ml-1.mb-3.row.pt-4
                button#search.btn.btn-primary Search
        #results.container(style="display:none")
